html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background-color: #2B589E;
}

body {

  margin: 0 auto;
}

header {
max-width:1650px;
margin: 0;
padding: 0;
margin-bottom: 15px;
background-color: #78ADFF;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
font-size: 4rem;
align-items: center;
}

header img {
display: flex;
align-items: center;
}

header h1 {
font-family: 'Roboto Mono', monospace;
font-size: 4rem;
text-align: left;
text-shadow: 2px 2px 3px #2B589E;
}

.name{
font-family: 'Source Code Pro', monospace;
font-size: 4rem;
text-shadow: 2px 2px 10px rgb(208, 245, 2);  
}

.wrapper {
  max-width: 960px;
  margin-top: 15px;
  font-family: 'Source Code Pro', monospace;
  display: flex;
    margin: auto;
    width: auto;
    padding: 10px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.resume {
padding: 0;
flex-grow: 2;
text-align: left;
background-color: rgba(255, 255, 255, 0.822);
}

.container p{
display: flex;
background-color: #EBB957;
border-radius: 4px;
border-style: solid;
border-width: 1px;
border-color: tomato;

}
.container {
display: flex;
justify-content: space-around;
flex-direction: column;
}

.container img{
display: flex;
width: 350px;
border-style: solid;
border-width: 1px;
border-color: tomato;
border-radius: 4px;
}

header img{
height: 130px;
padding-top: 20.15px;
padding-bottom: 20.15px;
}

h2 {
font-family: 'Roboto Mono', monospace;
font-size: 3rem;
}