.header{
  display: flex;
  background-color: #2B589E;
  /*max-width: 1000px;*/
}

.headerBox{
  display: flex;
  font-family: 'Roboto Mono';
  font-size: 36px;
  color: #EBB957;
  background-color:#78ADFF;
  width: 85%;
  max-width: 1000px;
  margin:auto;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.wrapper{
  display: flex;
  background-color: #2B589E;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contentBody{
  display: flex;
  color: #EBB957;
  background-color: #78ADFF;
  max-width: 1000px;
  padding: 5px;
  margin: 5px;
  justify-content: space-around;
}

.container{
  display: flex;
  flex: 50%;
  width: 33%;
  flex-direction: column;
  padding: 50px;
}

.containerImage{
  display: flex;
  justify-content: center;
}

.containerImage > div{
  border: 1px solid black;
  border-radius: 4px;
}

.containerText{
  display: flex;
  background-color: #5791EB;
  text-align: center;
  align-self: flex-start;
}

.resume{
  display: flex;
  flex: 50%;
  width: 66%;
  font-family: 'Source Code Pro';
  background-color: #5791EB;
}

@media (max-width: 1000px){
  .wrapper{
      display: flex;
      background-color: #2B589E;
      justify-content: center;
      align-items: center;
  }
  
  .contentBody{
      display: flex;
      background-color: #78ADFF;
      padding: 5px;
      margin: 10px;
      justify-content: center;
      flex-direction: column;
  }
  
  .container, .resume{
      flex: 100%
  }

  .container{
      display: flex;
      padding: 5px;
      flex-direction: row;
      justify-content: space-between;  
  }
  
  .containerImage{
      display: flex;  
      justify-content: center;
  }
  
  .containerImage > div{
      border: 1px solid black;
      border-radius: 4px;
  }
  
  .containerText{
      display: flex;
      background-color: #5791EB;
      text-align: center;
      align-self: flex-start;
  }
  
  .resume{
      display: flex;
      font-family: 'Source Code Pro';
      background-color: #5791EB;
      justify-content: center;
  }
}